# IDEs / editors
.idea
*.swo
*.swp
.zed

# Distribution / packaging
dist/
build/
eggs/
.eggs/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# virtualenv
.venv/
venv/

# Tools
.mypy_cache/
.ruff_cache/
